@font-face {
  font-family: get-schwifty;
  src: url(../../font/get_schwifty.ttf);
}

.navbar {
  background: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
}

.navbar .container a {
  font-family: "get-schwifty";
  text-decoration: none;
  font-size: 2.3rem;
  color: #00b0c8;
  text-shadow: 2px 2px #99b550;
}
